<!-- Main Homepage Content -->

<!-- 1. Image Container -->
<div class="image-container-1">
  <img class="image-1" src="{{ 'image-1.jpg' | asset_url }}" alt="Francesca Loren">
</div>



<!-- 2. YouTube Video Container -->
<!-- Main Homepage Content - YouTube Video -->
<div class="video-container-1">
  <iframe 
    class="video-1"
    src="https://www.youtube.com/embed/BX0lKSa_PTk?autoplay=1&loop=1&playlist=BX0lKSa_PTk&controls=0&modestbranding=1&rel=0&fs=0&iv_load_policy=3"
    title="Oliver Tree - Miss You"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
</div>


<!-- 3. Sticky Note -->
{% render 'sticky-note' %}



<style>
  .video-container-1 {
    margin-top: -1000px;
    margin: 20px 0 500px 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
  }

  .video-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
  }

  @media (max-width: 768px) {
    .video-container-1 {
      margin-bottom: 40px;
    }
  }
</style>
